<div  class="container">
    <img src="~/images/faleconosco1.jpg"/>
    <div class="jumbroton">
        <h3>Queremos ouvir você o que tem a dizer</h3>
        <p>
            Se você tem alguma dúvida ou sugestão fale connosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png"/>
            </span>
            <h5><email endereco="ilolanicolau1999@gmail.com" conteudo="Enviar um email"></email></h>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png"/>
            </span>
            <h5>(+244) 940082844</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Avenida. Luanda-Cazenga</h5>
        </p>
    </div>
</div>