@model LanchListViewModel

<div>
    <h1>@Model.CategoriaAtual</h1>
</div>
<div class="container">
    <div class="row">

        @foreach (var lanch in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanch"></partial>
        }

    </div>
</div>