@model Categoria


@{
    ViewData["Title"] = "Visualização categoria";
}
<h2>@ViewData["Title"] @Model.CategoriaNome</h2>
<form asp-action="Details" asp-area="Admin" asp-controller="AdminCategorias">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="CategoriaNome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input disabled="disabled" e asp-for="CategoriaNome" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input disabled="disabled" asp-for="Descricao" class="form-control" />
            </div>
        </div>
        <div style="margin-bottom:5px;"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </div>
    </div>
</form>